In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
df = pd.read_csv('catanstats.csv')

In [3]:
df.head()

,gameNum,player,points,me,2,3,4,5,6,7,...,Unnamed: 26,production,tradeGain,robberCardsGain,totalGain,tradeLoss,robberCardsLoss,tribute,totalLoss,totalAvailable
0,1,1,5,NaN,1,3,5,8,7,10,...,O,38,5,2,45,10,2,4,16,29
1,1,2,9,1.0,1,3,5,8,7,10,...,O,48,8,6,62,11,1,8,20,42
2,1,3,10,NaN,1,3,5,8,7,10,...,C,44,14,9,67,24,4,0,28,39
3,1,4,5,NaN,1,3,5,8,7,10,...,S,42,12,0,54,24,6,0,30,24
4,2,1,10,NaN,1,6,3,9,10,8,...,2L,60,15,16,91,28,10,0,38,53

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 36 columns):
gameNum            200 non-null int64
player             200 non-null int64
points             200 non-null int64
me                 50 non-null float64
2                  200 non-null int64
3                  200 non-null int64
4                  200 non-null int64
5                  200 non-null int64
6                  200 non-null int64
7                  200 non-null int64
8                  200 non-null int64
9                  200 non-null int64
10                 200 non-null int64
11                 200 non-null int64
12                 200 non-null int64
settlement1        200 non-null int64
Unnamed: 16        200 non-null object
Unnamed: 17        200 non-null int64
Unnamed: 18        200 non-null object
Unnamed: 19        200 non-null int64
Unnamed: 20        200 non-null object
settlement2        200 non-null int64
Unnamed: 22        200 non-null object
Unnamed: 23        200 non-null int64
Unnamed: 24        200 non-null object
Unnamed: 25        200 non-null int64
Unnamed: 26        200 non-null object
production         200 non-null int64
tradeGain          200 non-null int64
robberCardsGain    200 non-null int64
totalGain          200 non-null int64
tradeLoss          200 non-null int64
robberCardsLoss    200 non-null int64
tribute            200 non-null int64
totalLoss          200 non-null int64
totalAvailable     200 non-null int64
dtypes: float64(1), int64(29), object(6)
memory usage: 56.3+ KB

In [10]:
df.loc[:,'2':'12'].apply(lambda x: np.mean(x)).sort_values(ascending=False)

7     10.98
6      9.16
8      8.82
5      7.40
9      7.38
10     5.06
4      4.70
3      3.96
11     3.38
12     1.74
2      1.70
dtype: float64